body {
  margin: 0;
}
.wrapper {
  display: flex;

  > div {
    flex-grow: 1;
  }
}
#building {
  background: #272727;
  max-width: 280px;
  padding: 20px;
  display: flex;
  grid-gap: 10px;
}

.floor-wrapper {
  flex-grow: 1;
  > div {
    padding: 2px 0;
  }
}

.floors {
  background: orange;
  min-height: 62px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elevator-wrapper {
  display: flex;
  width: 65px;
  grid-gap: 10px;
  position: relative;
  margin: 2px 0;
}

#elev-1 {
  top: 0;
}
#elev-2 {
  bottom: 0;
}
.elevator.active {
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}
.elevator {
  width: 100%;
  min-height: 62px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  transition: 10s;
  img {
    width: 100%;
    max-width: 30px;
    height: auto;
    flex-grow: 1;
  }



  &:before {
    content: '';
    background: #acaac9;
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    transition: 10s;
  }
  &:after {
    content: '';
    background: #acaac9;
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    transition: 10s;
  }
}

#status {
  padding: 30px;
  .elev-num > p {
    font-size: 15px;
    font-weight: 700;
    background: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
  }
}